<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      

<div class="home">
   
      <!-- INIT -->
      <div class="container">
        <div class="row">
          <div class="col align-self-center">
            <div class="col-auto text-center">
                <h1 class="page-heading">Francesco Taioli</h1>
                <span class="d-block text-center" style="margin-top:10px;" >PhD student in Artificial Intelligence</span>
                       
                <img class="rounded-circle mx-auto d-block" src="images/francesco_taioli.avif" alt="Francesco Taioli" height="200" width="200">
                <span class="d-block text-center" style="margin-top:10px;" >Member of <a href="https://intelligolabs.net/">IntelliGO Labs</a></span>
                <span><a href= "mailto: francesco.taioli@polito.it">francesco.taioli@polito.it</a></span>
                <span class="d-block text-center" style="margin-top:10px;" >{%- include social.html -%}</span><br>
            </div>
            
          </div>
          <div class="col-md" style="text-align: justify;">
            <p>
            I am a third-year PhD student in the National PhD Programme in Artificial Intelligence at the Polytechnic of Turin, in collaboration with the University of Verona.
            I am supervised by prof. <a href="https://scholar.google.com/citations?user=LbgTPRwAAAAJ&hl=en" >Marco Cristani</a>
              and prof. <a href="https://scholar.google.co.uk/citations?user=KHAIAA8AAAAJ&hl=en" >Alessandro Farinelli</a>.
            </p>
            <p>
              My research interests span the enitre area of Deep Learning, with a focus on enhancing the
              autonomy of intelligent agents. I am currently exploring Foundation Models and their use in Embodied AI to improve navigation, common sense reasoning, and human-robot interaction.
            </p>
            
            <h4 style="margin-top:10px;">
                Research Interests
            </h4>
          
                <ul>
                    <li>Deep Learning</li>
                    <li>Computer Vision</li>
                    <li>Embodied AI</li>
                    <li>Autonomous Vehicles</li>
                </ul>

                <!-- <h4 style="margin-top:10px;">
                  Contacts
              </h4>
              <ul>
                  <li><a href="mailto:francesco.taioli@univr.it">francesco.taioli@univr.it</a></li>
                  <li><a href="francesco.taioli@polito.it">francesco.taioli@polito.it</a></li>

              </ul> -->
                <!-- <h4 style="margin-top:10px;">
                  Contacts
              </h4>
              <ul>
                  <li><a href="mailto:francesco.taioli@univr.it">francesco.taioli@univr.it</a></li>
                  <li><a href="francesco.taioli@polito.it">francesco.taioli@polito.it</a></li>

              </ul> -->
            <!-- </li> -->
            <!-- <h4 style="margin-top:10px;">
              Contact
          </h4>
          <p>
            Contact: <a href= "mailto: francesco.taioli@polito.it">francesco.taioli@polito.it</a>
          </p> -->
          </div>
        </div>
      </div>
      <!-- end -->



  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#news">News</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#publication-list">Publications</a></li>
    </ol>
  </nav>
  

  <hr>
  <h2 class=""><img class="svg-icon" style="padding-right:0px; width:2rem; height:2rem;" src="/external/news_50x50.png" alt="news"> News</h2>
  <ul class="post-list" id="news">
    <li>
      <span class="post-meta">2024-06</span>
      <h5><b>IROS 24!</b> <a href="https://intelligolabs.github.io/R2RIE-CE/">Mind the Error! Detection and Localization of Instruction Errors in Vision-and-Language Navigation</a> is accepted at <a href="https://iros2024-abudhabi.org/">IROS 24</a>, with an oral presentation! <h5>
    </li>
    <li>
      <span class="post-meta">2024-06</span>
      <h5><b>CVPR24!</b> We had a <a href="https://intelligolabs.github.io/R2RIE-CE/">paper accepted</a> at the <a href="https://embodied-ai.org/">5th Annual Embodied AI Workshop @ CVPR24</a>. Moreover, we won the <a href="https://eval.ai/web/challenges/challenge-page/2276/leaderboard/5633">MultiON challenge @ CVPR24!</a><h5>
    </li>
    <li>
      <span class="post-meta">2024-06</span>
      <h5>Invited as a speaker to talk about <i>"What's next in Embodied AI"</i> by the AIML gropu of Verona.<a href="https://docs.google.com/presentation/d/1aTMOOm9kgxEtTFGfwPhQsS0gOpwf71GPaoeG0LMae4s/edit?usp=sharing">Take a look at the slides!</a></h5>
    </li>
    <li>
      <span class="post-meta">2023-07</span>
      <h5>I attended the International Computer Vision Summer School <a href="https://iplab.dmi.unict.it/icvss2023/Home" >(ICVSS)</a> </h5>
    </li>  
  </ul>
  <hr>
 


  {%- if site.posts.size > 0 -%}
    <a href="https://scholar.google.com/citations?user=XxeU3kAAAAAJ&hl=it" id="publication-list"> 
      <h2 class="post-list-heading"> <img class="svg-icon" style="padding-right:0px; width:2rem; height:2rem;" src="/external/Google_Scholar_logo.svg" alt="scholar"> {{ page.list_title | default: "Publications" }} 
        </h2>
      
    </a>
    <hr>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }} - <span class="badge badge-success">{{ post.conference }}</span></span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

        {%- if post.authors -%}
          <span><i>{{ post.authors }}</i></span>
        {%- endif -%}

        
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
</div>
</main>

{%- include footer.html -%}

</body>

</html>