<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper" style="max-width: 80%;">
        {{ content }}
      

<div class="home" >
   
      <!-- INIT -->
      <div class="container-fluid">
        <div class="row">
          <div class="col align-self-center">
            <div class="col-auto text-center">
                <h1 class="page-heading">Francesco Taioli</h1>
                <span class="d-block text-center" style="margin-top:10px;" >PhD student in Artificial Intelligence</span>
                       
                <img class="rounded-circle mx-auto d-block" src="images/profile_photo.jpg" alt="Francesco Taioli" height="200" width="200">
                <span class="d-block text-center" style="margin-top:10px;" >Member of <a href="https://intelligolabs.net/">IntelliGO Labs</a></span>
                <span><a href= "mailto: francesco.taioli@polito.it">francesco.taioli@polito.it</a></span>
                <span class="d-block text-center" style="margin-top:10px;" >{%- include social.html -%}</span><br>
            </div>
            
          </div>
          <div class="col-md" style="text-align: justify;">
            <p>
            I am a PhD candidate in the National PhD Programme in Artificial Intelligence at the Polytechnic of Turin, in collaboration with the University of Verona.
            I am supervised by Prof. <a href="https://scholar.google.com/citations?user=LbgTPRwAAAAJ&hl=en" >Marco Cristani</a>
              and Prof. <a href="https://scholar.google.co.uk/citations?user=KHAIAA8AAAAJ&hl=en" >Alessandro Farinelli</a>.
            </p>
            <p>
              My research interests broadly lie in Deep Learning, with a particular focus on enhancing the autonomy of intelligent agents. 
              Currently, I am exploring Foundation Models (VLMs, LLMs & VLAs) and their applications in Embodied AI, with the goal of advancing navigation, embodied reasoning, and human-robot interaction.
            </p>
            
            <p>At present, I am a Applied Scientist Intern at <strong>Amazon</strong> in Madrid!</p>

            <p>Previously, I spent five months as a Visiting Student Researcher at Simon Fraser University (Vancouver, Canada), where I worked under the supervision of Prof. <a href="https://angelxuanchang.github.io/" target="_blank">Angel Xuan Chang</a> in the <a href="https://gruvi.cs.sfu.ca/">GrUVi</a> lab. </p>
            
        
                <!-- <h4 style="margin-top:10px;">
                  Contacts
              </h4>
              <ul>
                  <li><a href="mailto:francesco.taioli@univr.it">francesco.taioli@univr.it</a></li>
                  <li><a href="francesco.taioli@polito.it">francesco.taioli@polito.it</a></li>

              </ul> -->
                <!-- <h4 style="margin-top:10px;">
                  Contacts
              </h4>
              <ul>
                  <li><a href="mailto:francesco.taioli@univr.it">francesco.taioli@univr.it</a></li>
                  <li><a href="francesco.taioli@polito.it">francesco.taioli@polito.it</a></li>

              </ul> -->
            <!-- </li> -->
            <!-- <h4 style="margin-top:10px;">
              Contact
          </h4>
          <p>
            Contact: <a href= "mailto: francesco.taioli@polito.it">francesco.taioli@polito.it</a>
          </p> -->
          </div>
        </div>
      </div>
      <!-- end -->



  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <nav aria-label="breadcrumb" style="padding-right: 1rem;">
    <ol class="breadcrumb" >
      <li class="breadcrumb-item"><a href="#news">News</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#publication-list">Publications</a></li>
    </ol>
  </nav>
  

  <hr>
  <h2 class=""><img class="svg-icon" style="padding-right:0px; width:2rem; height:2rem;" src="/external/news_50x50.png" alt="news"> News</h2>
  <ul class="post-list" id="news">
      <!-- coin -->
  <li style="margin-bottom: 0.35em;">
    <span class="post-meta">2025-06</span>
    <h5><b>🎉 Paper accepted at ICCV 25 🎉</b></h5>
    What do human-agent bidirectional interaction, navigation, vision-language models, and hallucinations have in common? Read our new ICCV paper at <a href="https://intelligolabs.github.io/CoIN/" target="_blank">https://intelligolabs.github.io/CoIN/</a>
  </li>
    <!-- reviewer -->
    <li style="margin-bottom: 0.35em;">
    <span class="post-meta">2025-05</span>
    <h5><b>Outstanding reviewer at CVPR 25!</b></h5>
    I've been recognized as an Outstanding Reviewer for CVPR25: <a href="https://cvpr.thecvf.com/Conferences/2025/ProgramCommittee?s=35#all-outstanding-reviewer" target="_blank">all outstanding reviewers</a>
  </li>
    <!-- workshop -->
    <li style="margin-bottom: 0.35em;">
    <span class="post-meta">2025-05</span>
    <h5><b>🤖 IROS Workshop Accepted!</b></h5>
    I co-organized the <b><i>Human-aware Embodied AI</i></b> workshop, which has been accepted at IROS 2025.  
    Workshop homepage: <a href="https://heai-iros25-workshop.github.io/" target="_blank">https://heai-iros25-workshop.github.io/</a>
  </li>

<li style="margin-bottom: 0.35em;">
  <span class="post-meta">2024-06</span>
  <h5><b>IROS 2024!</b></h5>
  <a href="https://intelligolabs.github.io/R2RIE-CE/" target="_blank">
    Mind the Error! Detection and Localization of Instruction Errors in Vision-and-Language Navigation
  </a> was accepted at <a href="https://iros2024-abudhabi.org/" target="_blank">IROS 2024</a>, with an oral presentation!
</li>

<li style="margin-bottom: 0.35em;">
  <span class="post-meta">2024-06</span>
  <h5><b>CVPR 2024!</b></h5>
  We had a <a href="https://intelligolabs.github.io/R2RIE-CE/" target="_blank">paper accepted</a> at the 
  <a href="https://embodied-ai.org/" target="_blank">5th Annual Embodied AI Workshop @ CVPR 2024</a>. 
  Moreover, we won the <a href="https://eval.ai/web/challenges/challenge-page/2276/leaderboard/5633" target="_blank">MultiON Challenge @ CVPR 2024!</a>
</li>

<li style="margin-bottom: 0.35em;">
  <span class="post-meta">2024-06</span>
  <h5><b>Invited Talk!</b></h5>
  I was invited to speak on <i>"What's next in Embodied AI"</i> by the AIML group at Verona. 
  <a href="https://docs.google.com/presentation/d/1aTMOOm9kgxEtTFGfwPhQsS0gOpwf71GPaoeG0LMae4s/edit?usp=sharing" target="_blank">Take a look at the slides!</a>
</li>

<li style="margin-bottom: 0.35em;">
  <span class="post-meta">2023-07</span>
  <h5><b>ICVSS 2023!</b></h5>
  I attended the <a href="https://iplab.dmi.unict.it/icvss2023/Home" target="_blank">International Computer Vision Summer School (ICVSS)</a>.
</li>
 
  </ul>
  <hr>
 


  {%- if site.posts.size > 0 -%}
    <a href="https://scholar.google.com/citations?user=XxeU3kAAAAAJ&hl=it" id="publication-list" target="_blank"> 
      <h2 class="post-list-heading"> <img class="svg-icon" style="padding-right:0px; width:2rem; height:2rem;" src="/external/Google_Scholar_logo.svg" alt="scholar"> {{ page.list_title | default: "Publications" }} 
        </h2>
      
    </a>
    <hr>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }} - <span class="badge badge-success">{{ post.conference }}</span></span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

        {%- if post.authors -%}
          <span><i>{{ post.authors }}</i></span>
        {%- endif -%}

        
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
</div>
</main>

{%- include footer.html -%}

</body>

</html>